[submodule "dags/isagro"]
	path = dags/isagro
	url = https://github.com/nds-cprm/airflow-dags-isagro-dev.git
[submodule "dags/sgb"]
	path = dags/sgb
	url = https://github.com/nds-cprm/airflow-dags-teste.git
[submodule "dags/p3m"]
	path = dags/p3m
	url = https://github.com/nds-cprm/airflow-dags-p3m.git
